{% load staticfiles %}
{% load i18n %}

{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<title>8 x 8 - 系统通知</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
<style type="text/css">
.input-field>i.prefix{color:#646464}
</style>
</head>
<body>
<div class="navbar-fixed">
	<nav class="teal accent-4" role="navigation">
	<div class="nav-wrapper container">
		<ul id="nav-mobile" class="brand-logo center">
			<li><a href="/">8 x 8</a></li>
		</ul>
		<ul id="nav-mobile" class="leftConnected">
			<li><a href="/me">自己</a></li>
		</ul>
		<ul id="nav-mobile" class="right">
			<li><a href="/square">广场</a></li>
		</ul>
	</div>
	</nav>
</div>
<div class="container center-align" style="max-width:560px;margin-top:50px">
	<div class="fixed-action-btn" style="bottom:45px;right:24px">
		<a class="btn-floating btn-large teal"><i class="large material-icons">dashboard</i></a>
		<ul>
			<li><a class="btn-floating red" href="/search"><i class="material-icons">search</i></a></li>
			<li><a class="btn-floating yellow darken-1" href="/notifications"><i class="material-icons">info</i></a></li>
			<li><a class="btn-floating blue" href="/messages"><i class="material-icons">textsms</i></a></li>
			<li><a class="btn-floating green" href="/friends"><i class="material-icons">contacts</i></a></li>
		</ul>
	</div>
	<div class="section">
		<h5 style="color:#7f7f7f;font-weight:300">这里是 8x8 系统通知。</h5>
		<small style="color:#7f7f7f;font-weight:300">8x8社区系统通知会显示在当前页面。<br>
		请勿轻信任何其他来源的 伪官方 通知。<br>
		<br>
		提示：<br>
		当有新的好友申请时，可以先点击用户头像<br>
		先看看 TA 的个人名片再做决定。<br>
		<br>
		以下是你的通知列表：</small>
	</div>
	<div class="divider">
	</div>
	<div class="section">
		<h5 style="color:#7f7f7f;font-weight:300">好友申请 {{ count }}</h5>

        {% for item in add_friend_notifications %}
		<ul class="collection z-depth-2" style="text-align:left;padding-top:10px">
			<li class="collection-item avatar"><a href="/user/{{ item.from_user.pk }}"><img src="{{ item.from_user.profile.get_picture }}" alt="" class="circle"><span class="title">{{ item.from_user.profile.realname }}</span></a>
			<p>
				<span style="font-weight:300;font-size:.8em">{{ item.date|naturaltime }}</span><br>
				<span style="font-weight:300">申请成为你的好友。</span>
			</p>
			<div class="row">
			</div>
			<div class="row" style="margin-left:8%;margin-right:8%;margin-bottom:20px">
				<div class="col l4 s6 left-align" style="text-align:center;font-weight:300">
					<a class="waves-effect waves-light btn teal accent-4">同意</a>
				</div>
				<div class="col l4 hide-on-med-and-down">
					<br>
				</div>
				<div class="col l4 s6 right-align" style="text-align:center;font-weight:300">
					<a class="waves-effect waves-light btn teal accent-4">拒绝</a>
				</div>
			</div>
			</li>
		</ul>
        {% empty %}
          <small>{% trans '暂无通知' %}</small>
        {% endfor %}
	</div>
	<div class="divider">
	</div>
	<div class="section">
		<h5 style="color:#7f7f7f;font-weight:300">系统通知</h5>

        {% for item in notifications %}
		<ul class="collection" style="text-align:left">
			<li class="collection-item avatar"><a href="/user/{{ item.from_user.pk }}"><img src="{{ item.from_user.profile.get_picture }}" alt="" class="circle"><span class="title">{{ item.from_user.profile.realname }}</span></a>
			<p>
				<span style="font-weight:300;font-size:.8em">{{ item.date|naturaltime }}</span><br>
				<span style="font-weight:300">{{ item|safe }}</span>
			</p>
			</li>
		</ul>
        {% empty %}
          <small>{% trans '暂无通知' %}</small>
        {% endfor %}
	</div>
</div>
<footer class="page-footer teal accent-4" style="padding-top:0">
<div class="footer-copyright">
	<div class="container">
		Made by <a class="orange-text text-lighten-3" href="http://chengkang.pw">CHENGKANG</a> 、 <a class="orange-text text-lighten-3" href="http://MrLiao.cn">Mr.Liao</a>
	</div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript">!function(n){n(function(){n(".button-collapse").sideNav()})}(jQuery);</script>
</body>
</html>