<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>8 x 8 - 程康</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="navbar-fixed">
    <nav class="teal accent-4" role="navigation">
      <div class="nav-wrapper container">
              <ul id="nav-mobile" class="brand-logo center">
                  <li ui-sref-active="active"><a ui-sref="top" href="/top">8 x 8</a></li>
              </ul>
              <ul id="nav-mobile" class="leftConnected">
                  <li ui-sref-active="active" class="active"><a ui-sref="profile" ng-click="appHeader.goToProfile($event)" href="/profile">自己</a></li>
              </ul>
              <ul id="nav-mobile" class="right">
                  <li ui-sref-active="active"><a ui-sref="world" href="/world">广场</a></li>
              </ul>
          </div>
          </div>
    </nav>
  </div>

  <div class="container center-align" style="max-width: 560px;margin-top:50px;">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large teal">
        <i class="large material-icons">dashboard</i>
      </a>
      <ul>
        <li><a class="btn-floating red"><i class="material-icons">search</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">info</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">textsms</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">contacts</i></a></li>
      </ul>
    </div>
    <div class="section">

      <!--   Avatar Section   -->
      <div class="row">
        <div class="col s6 offset-s3">
          <img class="circle responsive-img" src="./avatar.jpg">
        </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #ccc;">
        <h5 class="realname" style="font-weight: 300;">程康</h5>
      </div>
      <div class="row" style="margin-top:-15px;">
        <span style="font-weight: 300;">男 | 21岁</span>
      </div>
      <div class="row">
        <div class="col s8 offset-s2">
          <table class="highlight centered" style="font-weight:300;">
            <tbody>
              <tr>
                <td>微信号</td>
                <td>Chinanty</td>
              </tr>
              <tr>
                <td>手机号</td>
                <td>13120307150</td>
              </tr>
              <tr>
                <td>邮箱</td>
                <td>me@chengkang.pw</td>
              </tr>
              <tr>
                <td>地址</td>
                <td>北京市海淀区</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="divider"></div>
    
    <div id="expandable" class="section scrollspy">
      <div class="row">
        <div class="col s12 m3"><h5 class="light">工作经历</h5></div>
        <div class="col s12 m9">
          <ul class="collapsible" data-collapsible="expandable">
            <li class="">
              <div class="collapsible-header">JAVA开发工程师</div>
              <div class="collapsible-body" style="text-align:left;padding: 20px 30px 20px 30px;">
                <small>
                2015.1 - 至今<br>
                任职于 北大医疗信息技术有限公司<br>
                主要工作：<br>
                写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。
                </small>
              </div>
            </li>
            <li class="">
              <div class="collapsible-header">PHP实习工程师</div>
              <div class="collapsible-body" style="text-align:left;padding: 20px 30px 20px 30px;">
                <small>
                2014.5 - 2014.8<br>
                任职于 荔橙空间信息技术有限公司<br>
                主要工作：<br>
                写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。
                </small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    
    <div id="expandable" class="section scrollspy">
      <div class="row">
        <div class="col s12 m3"><h5 class="light">项目经历</h5></div>
        <div class="col s12 m9">
          <ul class="collapsible" data-collapsible="expandable">
            <li class="">
              <div class="collapsible-header">8x8.suosi.org</div>
              <div class="collapsible-body" style="text-align:left;padding: 20px 30px 20px 30px;">
                <small>
                8x8社区是北科校友互荐招聘平台。<br>
                平台由用户修改个人资料，平台负责真实性审核，保证每一位用户信息的真实性。<br>
                平台旨在整合北科校友工作相关信息，帮助北科校友找到合适的工作/招聘对象。
                </small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    
    <div id="expandable" class="section scrollspy">
      <div class="row">
        <div class="col s12 m3"><h5 class="light">教育经历</h5></div>
        <div class="col s12 m9">
          <ul class="collapsible" data-collapsible="expandable">
            <li class="">
              <div class="collapsible-header">北京科技大学</div>
              <div class="collapsible-body" style="padding-top: 10px;padding-bottom: 10px;">
                <small>
                2012.9 - 至今<br>
                本科<br>
                计算机科学与技术
                </small>
              </div>
            </li>
            <li class="">
              <div class="collapsible-header">University of Dundee</div>
              <div class="collapsible-body" style="padding-top: 10px;padding-bottom: 10px;">
                <small>
                2015.9 - 至今<br>
                本科<br>
                Applied Computing
                </small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    </div>
  </div>

  <footer class="page-footer teal accent-4" style="padding-top: 0;">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://chengkang.pw">chengkang</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript">
    (function($){
      $(function(){

        $('.button-collapse').sideNav();

      }); // end of document ready
    })(jQuery); // end of jQuery name space
  </script>

  </body>
</html>
