<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>8 x 8 - 自己</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div class="navbar-fixed">
        <nav class="teal accent-4" role="navigation">
            <div class="nav-wrapper container">
                <ul id="nav-mobile" class="brand-logo center">
                    <li ui-sref-active="active"><a ui-sref="top" href="/top">8 x 8</a></li>
                </ul>
                <ul id="nav-mobile" class="leftConnected">
                    <li ui-sref-active="active" class="active"><a ui-sref="profile" ng-click="appHeader.goToProfile($event)" href="/profile">自己</a></li>
                </ul>
                <ul id="nav-mobile" class="right">
                    <li ui-sref-active="active"><a ui-sref="world" href="/world">广场</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container center-align" style="max-width: 560px;margin-top:50px;">
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large teal">
                <i class="large material-icons">dashboard</i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">search</i></a></li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">info</i></a></li>
                <li><a class="btn-floating blue"><i class="material-icons">textsms</i></a></li>
                <li><a class="btn-floating green"><i class="material-icons">contacts</i></a></li>
            </ul>
        </div>
        <div class="section">
            <!--   Avatar Section   -->
            <div class="row" id="info_section_start">
                <div class="col s6 offset-s3">
                    <img class="circle responsive-img" src="./avatar.jpg">
                </div>
            </div>
            <div class="row" style="border-bottom: 1px solid #ccc;">
                <h5 id="info-name" class="realname" style="font-weight: 300;">程康</h5>
            </div>
            <div class="row" style="margin-top:-15px;">
                <span id="info-majar-gender" style="font-weight: 300;">2012级 | 计算机科学与技术 | 男</span>
            </div>
            <div class="row">
                <div class="col s8 offset-s2">
                    <a class="waves-effect waves-light btn collection-item modal-trigger" href="#modal-info"><i class="material-icons left">mode_edit</i>修改基本信息</a>
                    <table class="highlight centered" style="font-weight:300;">
                        <tbody>
                            <tr>
                                <td>微信号</td>
                                <td id="info-wchat">Chinanty</td>
                            </tr>
                            <tr>
                                <td>手机号</td>
                                <td id="info-phone">13120307150</td>
                            </tr>
                            <tr>
                                <td>邮箱</td>
                                <td id="info-email">me@chengkang.pw</td>
                            </tr>
                            <tr>
                                <td>地址</td>
                                <td id="info-address">北京市海淀区</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div id="expandable" class="section scrollspy">
            <div class="row" id="work">
                <div class="col s12 m3">
                    <h5 class="light">工作经历</h5></div>
                <div class="col s12 m9">
                    <ul class="collapsible" data-collapsible="expandable">
                        <li class="">
                            <div class="collapsible-header"><a class="collection-item modal-trigger" href="#modal-work_1"><i class="material-icons small" style="color: #00bfa5;">mode_edit</i></a>JAVA开发工程师</div>
                            <div class="collapsible-body" style="text-align:left;padding: 20px 30px 20px 30px;">
                                <small>
                2015.1 - 至今<br>
                任职于 北大医疗信息技术有限公司<br>
                主要工作：<br>
                写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。
                </small>
                            </div>
                        </li>
                        <li class="">
                            <div class="collapsible-header"><a class="collection-item modal-trigger" href="#modal-work_2"><i class="material-icons small" style="color: #00bfa5;">mode_edit</i></a>PHP实习工程师</div>
                            <div class="collapsible-body" style="text-align:left;padding: 20px 30px 20px 30px;">
                                <small>
                2014.5 - 2014.8<br>
                任职于 荔橙空间信息技术有限公司<br>
                主要工作：<br>
                写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。
                </small>
                            </div>
                        </li>
                    </ul>
                    <a class="btn-floating waves-effect waves-light collection-item modal-trigger" href="#modal-work_add"><i class="material-icons small">add</i></a>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div id="expandable" class="section scrollspy">
            <div class="row" id="proj">
                <div class="col s12 m3">
                    <h5 class="light">项目经历</h5></div>
                <div class="col s12 m9">
                    <ul class="collapsible" data-collapsible="expandable">
                        <li class="">
                            <div class="collapsible-header"><a class="collection-item modal-trigger" href="#modal-proj_1"><i class="material-icons small" style="color: #00bfa5;">mode_edit</i></a>8x8.suosi.org</div>
                            <div class="collapsible-body" style="text-align:left;padding: 20px 30px 20px 30px;">
                                <small>
                8x8社区是北科校友互荐招聘平台。<br>
                平台由用户修改个人资料，平台负责真实性审核，保证每一位用户信息的真实性。<br>
                平台旨在整合北科校友工作相关信息，帮助北科校友找到合适的工作/招聘对象。
                </small>
                            </div>
                        </li>
                    </ul>
                    <a class="btn-floating waves-effect waves-light collection-item modal-trigger" href="#modal-proj_add"><i class="material-icons small">add</i></a>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div id="expandable" class="section scrollspy">
            <div class="row" id="edu">
                <div class="col s12 m3">
                    <h5 class="light">教育经历</h5></div>
                <div class="col s12 m9">
                    <ul class="collapsible" data-collapsible="expandable">
                        <li class="">
                            <div class="collapsible-header"><a class="collection-item modal-trigger" href="#modal-edu_1"><i class="material-icons small" style="color: #00bfa5;">mode_edit</i></a>北京科技大学</div>
                            <div class="collapsible-body" style="padding-top: 10px;padding-bottom: 10px;">
                                <small>
                2012.9 - 至今<br>
                本科<br>
                计算机科学与技术
                </small>
                            </div>
                        </li>
                        <li class="">
                            <div class="collapsible-header"><a class="collection-item modal-trigger" href="#modal-edu_2"><i class="material-icons small" style="color: #00bfa5;">mode_edit</i></a>University of Dundee</div>
                            <div class="collapsible-body" style="padding-top: 10px;padding-bottom: 10px;">
                                <small>
                2015.9 - 至今<br>
                本科<br>
                Applied Computing
                </small>
                            </div>
                        </li>
                    </ul>
                    <a class="btn-floating waves-effect waves-light collection-item modal-trigger" href="#modal-edu_add"><i class="material-icons small">add</i></a>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <div class="row" id="password">
                <a class="waves-effect waves-light btn collection-item modal-trigger" href="#modal-password">修改密码</a>
            </div>
            <div class="row">
                <a class="waves-effect waves-teal btn-flat">注销登录</a>
            </div>
        </div>
        <div id="modal-info" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="container">
                    <h5 style="color: #7f7f7f;font-weight: 300;">修改基本信息</h5>
                    <div class="row">
                        <div class="input-field col s8">
                            <input id="realname" type="text" pattern="^[\u4E00-\u9FFF]{2,6}$" class="validate" value="程康">
                            <label class="active">姓名</label>
                        </div>
                        <div class="input-field col s4">
                            <select id="gender">
                                <option value="男" selected="selected">男</option>
                                <option value="女">女</option>
                            </select>
                            <label>性别</label>
                        </div>
                        <div class="input-field col s8">
                            <input id="major" type="text" pattern="^[\u4E00-\u9FFF]+$" class="validate" value="计算机科学与技术">
                            <label class="active">专业</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="year" type="text" pattern="^(19|20)(\d){2}$" class="validate" value="2012">
                            <label class="active">入学年份</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="wchat" type="text" pattern="^\w+$" class="validate" value="Chinanty">
                            <label class="active">微信号</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="phone" type="text" pattern="[\d]{11}" class="validate" value="13120307150">
                            <label class="active">手机号</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" type="text" pattern="^(\w+)@(\w+)\.([a-z]+)$" class="validate" value="me@chengkang.pw">
                            <label class="active">邮箱</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="address" type="text" pattern="^[\u4E00-\u9FFF]+$" class="validate" value="北京市海淀区">
                            <label class="active">地址</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" id="send-info" class=" modal-action waves-effect waves-light btn">修改</a>
                <a href="#info_section_start" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
            </div>
        </div>
        <div id="modal-password" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="container">
                    <h5 style="color: #7f7f7f;font-weight: 300;">修改密码</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" pattern="[\w]{8,15}" class="validate">
                            <label class="active">原密码</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="password" pattern="[\w]{8,15}" class="validate">
                            <label class="active">新密码</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="password" pattern="[\w]{8,15}" class="validate">
                            <label class="active">新密码确认</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-light btn">修改</a>
                <a href="#password" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
            </div>
        </div>
        <!-- 修改工作经历 遮罩层 -->
        <div id="modal-work_1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="container">
                    <h5 style="color: #7f7f7f;font-weight: 300;">修改工作经历</h5>
                    <div class="row">
                        <form class="col s12" id="work_1-form">
                            <div class="row center">
                                <div class="input-field col s12">
                                    <input id="company" type="text" class="validate" value="北大医疗信息技术有限公司">
                                    <label for="company" data-error="wrong">公司</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="postion" type="text" class="validate" value="JAVA开发工程师">
                                    <label for="position" data-error="wrong">职位</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="start_date" type="date" class="datepicker" value="2011-01-04">
                                    <label for="start_date" data-error="wrong">入职日期</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="end_date" type="date" class="datepicker" value="2011-01-05">
                                    <label for="end_date" data-error="wrong">离职日期</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="desc" class="materialize-textarea">写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。</textarea>
                                    <label for="desc" data-error="wrong">主要工作</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#work" class=" modal-action modal-close waves-effect waves-light btn">修改</a>
                <a href="#work" class=" modal-action modal-close waves-effect waves-light btn red accent-4">删除</a>
                <a href="#work" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
            </div>
        </div>
        <!-- 修改项目经历 遮罩层 -->
        <div id="modal-proj_1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="container">
                    <h5 style="color: #7f7f7f;font-weight: 300;">修改项目经历</h5>
                    <div class="row">
                        <form class="col s12" id="proj_1-form">
                            <div class="row center">
                                <div class="input-field col s12">
                                    <input id="project_name" type="text" class="validate" value="8x8.suosi.org">
                                    <label for="project_name" data-error="wrong">项目名称</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="project_desc" class="materialize-textarea">写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。</textarea>
                                    <label for="project_desc" data-error="wrong">项目介绍</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#proj" class=" modal-action modal-close waves-effect waves-light btn">修改</a>
                <a href="#proj" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
            </div>
        </div>
        <!-- 修改教育经历 遮罩层 -->
        <div id="modal-edu_1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="container">
                    <h5 style="color: #7f7f7f;font-weight: 300;">修改教育经历</h5>
                    <div class="row">
                        <form class="col s12" id="edu_1-form">
                            <div class="row center">
                                <div class="input-field col s12">
                                    <input id="institute" type="text" class="validate" value="北京科技大学">
                                    <label for="institute" data-error="wrong">学校</label>
                                </div>
                                <div class="input-field col s12">
                                    <select id="degree">
                                        <option value="1" selected="selected">本科</option>
                                        <option value="2">研究生</option>
                                        <option value="3">博士</option>
                                        <option value="4">博士后</option>
                                    </select>
                                    <label>学历</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="institute" type="text" class="validate" value="计算机科学与技术">
                                    <label for="institute" data-error="wrong">专业</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="start_date" placeholder="YYYY.MM" type="text" pattern="^(19|20)(\d){2}.((0[1-9])|(1[0-2]))$" class="validate" value="2012.09">
                                    <label for="start_date" data-error="wrong">入学日期</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="end_date" placeholder="YYYY.MM或至今" type="text" pattern="^((19|20)(\d){2}.((0[1-9])|(1[0-2])))|至今$" class="validate" value="2016.06">
                                    <label for="end_date" data-error="wrong">毕业日期</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#edu" class=" modal-action modal-close waves-effect waves-light btn">修改</a>
                <a href="#edu" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
            </div>
        </div>
        <!-- 新增工作经历 遮罩层 -->
        <div id="modal-work_add" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="container">
                    <h5 style="color: #7f7f7f;font-weight: 300;">新增工作经历</h5>
                    <div class="row">
                        <form class="col s12" id="work_add-form">
                            <div class="row center">
                                <div class="input-field col s12">
                                    <input id="company" type="text" class="validate">
                                    <label for="company" data-error="wrong">公司</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="postion" type="text" class="validate">
                                    <label for="position" data-error="wrong">职位</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="start_date" type="date" class="datepicker">
                                    <label for="start_date" data-error="wrong">入职日期</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="end_date" type="date" class="datepicker">
                                    <label for="end_date" data-error="wrong">离职日期</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="desc" class="materialize-textarea"></textarea>
                                    <label for="desc" data-error="wrong">主要工作</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#work" class=" modal-action modal-close waves-effect waves-light btn">新增</a>
                <a href="#work" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
            </div>
        </div>
        <!-- 新增项目经历 遮罩层 -->
        <div id="modal-proj_add" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="container">
                    <h5 style="color: #7f7f7f;font-weight: 300;">新增项目经历</h5>
                    <div class="row">
                        <form class="col s12" id="proj_add-form">
                            <div class="row center">
                                <div class="input-field col s12">
                                    <input id="project_name" type="text" class="validate">
                                    <label for="project_name" data-error="wrong">项目名称</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="project_desc" class="materialize-textarea"></textarea>
                                    <label for="project_desc" data-error="wrong">项目介绍</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#proj" class=" modal-action modal-close waves-effect waves-light btn">新增</a>
                <a href="#proj" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
            </div>
        </div>
        <!-- 新增教育经历 遮罩层 -->
        <div id="modal-edu_add" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="container">
                    <h5 style="color: #7f7f7f;font-weight: 300;">新增教育经历</h5>
                    <div class="row">
                        <form class="col s12" id="edu_add-form">
                            <div class="row center">
                                <div class="input-field col s12">
                                    <input id="institute" type="text" class="validate">
                                    <label for="institute" data-error="wrong">学校</label>
                                </div>
                                <div class="input-field col s12">
                                    <select>
                                        <option value="1" selected="selected">本科</option>
                                        <option value="2">研究生</option>
                                        <option value="3">博士</option>
                                        <option value="4">博士后</option>
                                    </select>
                                    <label>学历</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="institute" type="text" class="validate">
                                    <label for="institute" data-error="wrong">专业</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="start_date" placeholder="YYYY.MM" type="text" pattern="^(19|20)(\d){2}.((0[1-9])|(1[0-2]))$" class="datepicker" placeholder="如：2012.9">
                                    <label for="start_date" data-error="wrong">入学日期</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="end_date" placeholder="YYYY.MM或至今" type="text" pattern="^((19|20)(\d){2}.((0[1-9])|(1[0-2])))|至今$" class="datepicker" placeholder="如：2016.6">
                                    <label for="end_date" data-error="wrong">毕业日期</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#edu" class=" modal-action modal-close waves-effect waves-light btn">新增</a>
                <a href="#edu" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
            </div>
        </div>
    </div>
    <footer class="page-footer teal accent-4" style="padding-top: 0;">
        <div class="footer-copyright">
            <div class="container">
                Made by
                <a class="orange-text text-lighten-3" href="http://chengkang.pw">CHENGKANG</a> 、
                <a class="orange-text text-lighten-3" href="http://MrLiao.cn">Mr.Liao</a>
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript">
    (function($) {
        $(function() {

            $('.modal-trigger').leanModal();
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
            $('select').material_select();



            //#send-infod的ajax触发器
            $('#send-info').click(function() {
                var inputId = ['realname', 'gender', 'major', 'year', 'wchat', 'email', 'phone', 'address'];
                var json = {};
                var url = "http://127.0.0.1/index.php";
                var type = "POST";

                //表单数据生成json
                for (var i = inputId.length - 1; i >= 0; i--) {
                    var obj = $('#' + inputId[i]);
                    json[inputId[i]] = obj.val();
                };

                //调用统一的函数，setData是回调函数;
                getAjax(url, type, json, setData);

                function setData(data, status) {
                    //返回的data是一个json

                    //如果状态码不是success,提示并退出;
                    if (status != 'success') {
                        Materialize.toast('连接失败', 5000, 'red darken-2');
                        $('#modal-info').closeModal();
                        return;
                    } else {
                        var dataObj = eval('(' + data + ')');

                        //把获取到的数据写入;
                        var infoName = $('#info-name');
                        var infoMajarGender = $('#info-majar-gender');
                        var infoWchat = $('#info-wchat');
                        var infoPhone = $('#info-phone');
                        var infoEmail = $('#info-email');
                        var infoAddress = $('#info-address');
                        infoName.text(dataObj.realname);
                        infoMajarGender.text(dataObj.year + '年 | ' + dataObj.major + ' | ' + dataObj.gender);
                        infoWchat.text(dataObj.wchat);
                        infoPhone.text(dataObj.phone);
                        infoEmail.text(dataObj.email);
                        infoAddress.text(dataObj.address);
                        //关闭这个modal
                        $('#modal-info').closeModal();
                    }
                }

            });

            function getAjax(url, type, json, callback) {
                $.ajax({
                    url: url,
                    type: type,
                    data: json,
                    success: function(data, status) {
                        callback(data, status);
                    }
                })
            }


        }); // end of document ready
    })(jQuery); // end of jQuery name space
    </script>
</body>

</html>
