<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>8 x 8 - 搜索</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <style type="text/css">
  .btn-floating>i.thumb_up{
    color: #12c5a2;
  }
  .btn-floating>i.person_pin{
    color: #12c5a2;
  }
  </style>
</head>
<body>
  <div class="navbar-fixed">
    <nav class="teal accent-4" role="navigation">
      <div class="nav-wrapper container">
              <ul id="nav-mobile" class="brand-logo center">
                  <li><a href="/top">8 x 8</a></li>
              </ul>
              <ul id="nav-mobile" class="leftConnected">
                  <li><a href="/profile">自己</a></li>
              </ul>
              <ul id="nav-mobile" class="right">
                  <li><a href="/world">广场</a></li>
              </ul>
          </div>
          </div>
    </nav>
  </div>

  <div class="container center-align" style="max-width: 560px;margin-top:50px;">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large teal">
        <i class="large material-icons">dashboard</i>
      </a>
      <ul>
        <li><a class="btn-floating red"><i class="material-icons">search</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">info</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">textsms</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">contacts</i></a></li>
      </ul>
    </div>


    <div class="section">
      <h5 style="color: #7f7f7f;font-weight: 300;">这里是 8x8 搜索。</h5>
      <small style="color: #7f7f7f;font-weight: 300;">
        8x8社区 汇聚了北科历届校友。<br>
        你可以在下方的搜索框输入 TA 的姓名寻找你感兴趣的人。<br>
        <br>
        提示：<br>
        点击头像，可以进入校友个人名片。<br>
      </small>
    </div>


    <div class="section">

      <div class="row">
        <form class="col s12">
          <div class="input-field">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>

    </div>

    <div class="divider"></div>

    <div class="section">

      <span style="font-weight: 300; font-size: 1em;">『<span style=" color: #e57373;">程康</span>』</span>
      <h5 style="color: #7f7f7f;font-weight: 300;"><span style="color: #f44336;">3 </span>搜索结果</h5>

      <div class="card">
        <div class="row" style="padding-top: 50px;padding-bottom: 0;">
          <a href="#"><img class="circle responsive-img" src="./yangrong.jpg" style="height:100px;"></a>
        </div>
        <div class="row" style="font-weight: 300; margin-left:16%;margin-right:16%;margin-bottom:20px;border-bottom: 1px #c3c3c3 solid;">
          <span style="font-size:27px;">杨荣</span><br>
          <span style="color: #00bfa5;">2012</span>级 | 计算机科学与技术
        </div>

        <div class="row" style=" margin-left:16%;margin-right:16%;margin-bottom:20px;border-bottom: 1px #c3c3c3 solid;">
          <div class="col l8 offset-l2 s12">
            <ul class="collection" style="font-weight:300;">
              <li class="collection-item">工作经历<span class="badge">2</span></li>
              <li class="collection-item">项目经历<span class="badge">5</span></li>
              <li class="collection-item">教育经历<span class="badge">1</span></li>
            </ul>
          </div>
        </div>

        <div class="row" style="margin-left:8%;margin-right:8%;margin-bottom: 20px;">
          <div class="col s4 left-align " style="text-align:center;font-weight: 300;">
          <a class="btn-floating btn-large waves-effect waves-light white"><i class="material-icons thumb_up">thumb_up</i></a><br>推荐
          </div>
          <div class="col s4 valign ">
          <br> <span style="color:#00bfa5;font-weight: 300;">18次<br>『推荐』</span>
          </div>
          <div class="col s4 right-align " style="text-align:center;font-weight: 300;">
          <a class="btn-floating btn-large waves-effect waves-light white"><i class="material-icons person_pin">person_pin</i></a><br>加好友
          </div>
        </div>

        <div class="row">
          
        </div>
      </div>

      <div class="card">
        <div class="row" style="padding-top: 50px;padding-bottom: 0;">
          <a href="#"><img class="circle responsive-img" src="./lrs.jpg" style="height:100px;"></a>
        </div>
        <div class="row" style="font-weight: 300; margin-left:16%;margin-right:16%;margin-bottom:20px;border-bottom: 1px #c3c3c3 solid;">
          <span style="font-size:27px;">廖荣森</span><br>
          <span style="color: #00bfa5;">2012</span>级 | 通信工程
        </div>

        <div class="row" style=" margin-left:16%;margin-right:16%;margin-bottom:20px;border-bottom: 1px #c3c3c3 solid;">
          <div class="col l8 offset-l2 s12">
            <ul class="collection" style="font-weight:300;">
              <li class="collection-item">工作经历<span class="badge">2</span></li>
              <li class="collection-item">项目经历<span class="badge">3</span></li>
              <li class="collection-item">教育经历<span class="badge">1</span></li>
            </ul>
          </div>
        </div>

        <div class="row" style="margin-left:8%;margin-right:8%;margin-bottom: 20px;">
          <div class="col s4 left-align " style="text-align:center;font-weight: 300;">
          <a class="btn-floating btn-large waves-effect waves-light white"><i class="material-icons thumb_up">thumb_up</i></a><br>推荐
          </div>
          <div class="col s4 valign ">
          <br> <span style="color:#00bfa5;font-weight: 300;">10次<br>『推荐』</span>
          </div>
          <div class="col s4 right-align " style="text-align:center;font-weight: 300;">
          <a class="btn-floating btn-large waves-effect waves-light white"><i class="material-icons person_pin">person_pin</i></a><br>加好友
          </div>
        </div>

        <div class="row">
          
        </div>
      </div>

      <div class="card">
        <div class="row" style="padding-top: 50px;padding-bottom: 0;">
          <a href="#"><img class="circle responsive-img" src="./avatar.jpg" style="height:100px;"></a>
        </div>
        <div class="row" style="font-weight: 300; margin-left:16%;margin-right:16%;margin-bottom:20px;border-bottom: 1px #c3c3c3 solid;">
          <span style="font-size:27px;">程康</span><br>
          <span style="color: #00bfa5;">2012</span>级 | 计算机科学与技术
        </div>

        <div class="row" style=" margin-left:16%;margin-right:16%;margin-bottom:20px;border-bottom: 1px #c3c3c3 solid;">
          <div class="col l8 offset-l2 s12">
            <ul class="collection" style="font-weight:300;">
              <li class="collection-item">工作经历<span class="badge">2</span></li>
              <li class="collection-item">项目经历<span class="badge">1</span></li>
              <li class="collection-item">教育经历<span class="badge">2</span></li>
            </ul>
          </div>
        </div>

        <div class="row" style="margin-left:8%;margin-right:8%;margin-bottom: 20px;">
          <div class="col s4 left-align " style="text-align:center;font-weight: 300;">
          <a class="btn-floating btn-large waves-effect waves-light white"><i class="material-icons thumb_up">thumb_up</i></a><br>推荐
          </div>
          <div class="col s4 valign ">
          <br> <span style="color:#00bfa5;font-weight: 300;">8次<br>『推荐』</span>
          </div>
          <div class="col s4 right-align " style="text-align:center;font-weight: 300;">
          <a class="btn-floating btn-large waves-effect waves-light white"><i class="material-icons person_pin">person_pin</i></a><br>加好友
          </div>
        </div>

        <div class="row">
          
        </div>
      </div>
    </div>


    </div>
  </div>

  <footer class="page-footer teal accent-4" style="padding-top: 0;">
    <div class="footer-copyright">
      <div class="container">
      Made by 
      <a class="orange-text text-lighten-3" href="http://chengkang.pw">CHENGKANG</a>
      、
      <a class="orange-text text-lighten-3" href="http://MrLiao.cn">Mr.Liao</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript">
    (function($){
      $(function(){

        $('.button-collapse').sideNav();

      }); // end of document ready
    })(jQuery); // end of jQuery name space
  </script>

  </body>
</html>
