<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<title>8 x 8 - 首页</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<style type="text/css">
.btn-floating>i.thumb_up{color:#12c5a2}.btn-floating>i.person_pin{color:#12c5a2}.btn-floating>i.thumb_up_white{color:#fff}.btn-floating>i.person_pin_white{color:#fff}
</style>
</head>
<body>
<div class="navbar-fixed">
	<nav class="teal accent-4" role="navigation">
	<div class="nav-wrapper container">
		<ul id="nav-mobile" class="brand-logo center">
			<li class="active"><a href="/">8 x 8</a></li>
		</ul>
		<ul id="nav-mobile" class="leftConnected">
			<li><a href="/me">自己</a></li>
		</ul>
		<ul id="nav-mobile" class="right">
			<li><a href="/square">广场</a></li>
		</ul>
	</div>
	</nav>
</div>
<div class="container center-align" style="max-width:560px;margin-top:50px">
	<div class="fixed-action-btn" style="bottom:45px;right:24px">
		<a class="btn-floating btn-large teal"><i class="large material-icons">dashboard</i></a>
		<ul>
			{% if user.pk %}
			<li><a class="btn-floating red" href="/search"><i class="material-icons">search</i></a></li>
			<li><a class="btn-floating yellow darken-1" href="/notifications"><i class="material-icons">info</i></a></li>
			<li><a class="btn-floating blue" href="/messages"><i class="material-icons">textsms</i></a></li>
			<li><a class="btn-floating green" href="/friends"><i class="material-icons">contacts</i></a></li>
			{% else %}
			<li><a class="btn-floating blue" href="{% url 'signup' %}"><span style="font-weight:300;font-size:.8em">注册</span><i class="material-icons">play_for_work</i></a></li>
			<li><a class="btn-floating green" href="{% url 'signin' %}"><span style="font-weight:300;font-size:.8em">登录</span><i class="material-icons">power_settings_new</i></a></li>
			{% endif %}
		</ul>
	</div>
	<div class="section">
		<h5 style="color:#7f7f7f;font-weight:300">这里是 8x8 社区。</h5>
		<small style="color:#7f7f7f;font-weight:300">8x8社区首页 会展示由用户推选出的 64 位最有潜力的未入职校友。<br>
		如果你也欣赏他们，请点击推荐。<br>
		点击头像，进入校友个人名片页面。<br>
		<br>
		你也可以通过右下角的悬浮菜单，进行：<br>
		搜索、查看通知、查看好友消息、查看好友列表</small>
	</div>
	<div class="section">
		{% for item in users %}
		<div class="card">
			<div class="row" style="padding-top:50px;padding-bottom:0">
				<a href="/user/{{ item.user.pk }}"><img class="circle responsive-img" src="{{ item.get_picture }}" style="height:100px"></a>
			</div>
			<div class="row" style="font-weight:300;margin-left:16%;margin-right:16%;margin-bottom:20px;border-bottom:1px #c3c3c3 solid">
				<span style="font-size:27px">{{ item.realname }}</span><br>
				<span style="color:#00bfa5">{{ item.enter_year }}</span>级 | {{ item.major }}
			</div>
			<div class="row" style="margin-left:16%;margin-right:16%;margin-bottom:20px;border-bottom:1px #c3c3c3 solid">
				<div class="col l8 offset-l2 s12">
					<ul class="collection" style="font-weight:300">
						<li class="collection-item">工作经历<span class="badge">2</span></li>
						<li class="collection-item">项目经历<span class="badge">5</span></li>
						<li class="collection-item">教育经历<span class="badge">1</span></li>
					</ul>
				</div>
			</div>
            {% if user.pk %}
			<div class="row" style="margin-left:8%;margin-right:8%;margin-bottom:20px">
				<div class="col s4 left-align" style="text-align:center;font-weight:300">
                    {% if item.pk in voted_id_list %}
					<a class="btn-floating btn-large waves-effect waves-light teal accent-4 vote_btn unvote_btn" user-id="{{ item.pk }}" csrf="{{ csrf_token }}" ><i class="material-icons thumb_up_white">thumb_up</i></a><br>
					<span id="vote_{{ item.pk }}_text">取消</span>
                    {% else %}
					<a class="btn-floating btn-large waves-effect waves-light white vote_btn" user-id="{{ item.pk }}" csrf="{{ csrf_token }}"><i class="material-icons thumb_up">thumb_up</i></a><br>
					<span id="vote_{{ item.pk }}_text">推荐</span>
                    {% endif %}
				</div>
				<div class="col s4 valign">
					<br>
					<span style="color:#00bfa5;font-weight:300"><span id="vote_{{ item.pk }}_num">{{ item.votes }}</span>次<br>
					『推荐』</span>
				</div>
				<div class="col s4 right-align" style="text-align:center;font-weight:300">
                    {% if item.pk in friend_id_list %}
					<a class="btn-floating btn-large waves-effect waves-light teal accent-4"><i class="material-icons person_pin_white">person_pin</i></a><br>
					好友
                    {% elif item.pk in pending_friend_id_list %}
					<a class="btn-floating btn-large waves-effect waves-light teal accent-3 add_friend_btn unadd_friend_btn" user-id="{{ item.pk }}" csrf="{{ csrf_token }}"><i class="material-icons person_pin_white">person_pin</i></a><br>
					<span id="friend_{{ item.pk }}_text">申请中</span>
                    {% else %}
					<a class="btn-floating btn-large waves-effect waves-light white add_friend_btn" user-id="{{ item.pk }}" csrf="{{ csrf_token }}"><i class="material-icons person_pin">person_pin</i></a><br>
					<span id="friend_{{ item.pk }}_text">加好友</span>
                    {% endif %}
				</div>
			</div>
            {% else %}
			<div class="row" style="margin-left:8%;margin-right:8%;margin-bottom:20px">
				<div class="col s4 left-align" style="text-align:center;font-weight:300">
					<a class="btn-floating btn-large waves-effect waves-light white" href="/signin"><i class="material-icons thumb_up">thumb_up</i></a><br>
					推荐
				</div>
				<div class="col s4 valign">
					<br>
					<span style="color:#00bfa5;font-weight:300">{{ item.votes }}次<br>
					『推荐』</span>
				</div>
				<div class="col s4 right-align" style="text-align:center;font-weight:300">
					<a class="btn-floating btn-large waves-effect waves-light white" href="/signin"><i class="material-icons person_pin">person_pin</i></a><br>
					加好友
				</div>
			</div>
            {% endif %}
			<div class="row">
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<footer class="page-footer teal accent-4" style="padding-top:0">
<div class="footer-copyright">
	<div class="container">
		Made by <a class="orange-text text-lighten-3" href="http://chengkang.pw">CHENGKANG</a> 、 <a class="orange-text text-lighten-3" href="http://MrLiao.cn">Mr.Liao</a>
	</div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript">
    $(function () {


      $(".vote_btn").on("click", function () {
          var link = $(this);
          var icon = $(this).children();
        var vote = $(this).attr("user-id");
        var csrf = $(this).attr("csrf");
          var text = $("#vote_"+vote+"_text");
        $.ajax({
          url: '/vote/',
          data: {
            'vote': vote,
            'csrfmiddlewaretoken': csrf
          },
          type: 'post',
          cache: false,
          success: function (data) {

              if( data == "cant"){
                console.log(data);
              }else{
                  if(link.hasClass("unvote_btn")) {
                      link.removeClass("teal accent-4 unvote_btn").addClass("white");
                      icon.removeClass("thumb_up_white").addClass("thumb_up");
                      text.html("推荐")
                  }else{
                      link.removeClass("white").addClass("teal accent-4 unvote_btn");
                      icon.removeClass("thumb_up").addClass("thumb_up_white");
                      text.html("取消")
                  }
                  console.log(data);
                $("#vote_"+vote).html(data);
              }
          }
        });
        return false;
      });

      $(".add_friend_btn").on("click", function () {
          var link = $(this);
          var icon = $(this).children();
        var friend = $(this).attr("user-id");
        var csrf = $(this).attr("csrf");
          var text = $("#friend_"+friend+"_text");
        $.ajax({
          url: '/add_friend/',
          data: {
            'user_id': friend,
            'csrfmiddlewaretoken': csrf
          },
          type: 'post',
          cache: false,
          success: function (data) {

              if( data == "cant"){
                console.log(data);
              }else {
                  if (link.hasClass("unadd_friend_btn")) {
                      link.removeClass("teal accent-4 unadd_friend_btn").addClass("white");
                      icon.removeClass("person_pin_white").addClass("person_pin");
                      text.html("加好友")
                  } else {
                      link.removeClass("white").addClass("teal accent-4 unadd_friend_btn");
                      icon.removeClass("person_pin").addClass("person_pin_white");
                      text.html("申请中")
                  }
                  console.log(data);
              }
          }
        });
        return false;
      });

    });
</script>
</body>
</html>