<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>8 x 8 - 首页</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <style type="text/css">
  .btn-floating>i.thumb_up{
    color: #12c5a2;
  }
  .btn-floating>i.person_pin{
    color: #12c5a2;
  }
  </style>
</head>
<body>
  <div class="navbar-fixed">
    <nav class="teal accent-4" role="navigation">
      <div class="nav-wrapper container">
              <ul id="nav-mobile" class="brand-logo center">
                  <li class="active"><a href="/">8 x 8</a></li>
              </ul>
              <ul id="nav-mobile" class="leftConnected">
                  <li><a href="/me">自己</a></li>
              </ul>
              <ul id="nav-mobile" class="right">
                  <li><a href="/square">广场</a></li>
              </ul>
          </div>
          </div>
    </nav>
  </div>

  <div class="container center-align" style="max-width: 560px;margin-top:50px;">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large teal">
        <i class="large material-icons">dashboard</i>
      </a>
      <ul>
        <li><a class="btn-floating red"><i class="material-icons">search</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">info</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">textsms</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">contacts</i></a></li>
      </ul>
    </div>


    <div class="section">
      <h5 style="color: #7f7f7f;font-weight: 300;">这里是 8x8 社区。</h5>
      <small style="color: #7f7f7f;font-weight: 300;">
        8x8社区首页 会展示由用户推选出的 64 位最有潜力的未入职校友。<br>
        如果你也欣赏他们，请点击推荐。<br>
        点击头像，进入校友个人名片页面。<br>
        <br>
        你也可以通过右下角的悬浮菜单，进行：<br>
        搜索、查看通知、查看好友消息、查看好友列表
      </small>
    </div>

    <div class="section">

        {% for item in users %}
      <div class="card">
        <div class="row" style="padding-top: 50px;padding-bottom: 0;">
          <a href="/user/{{ item.user.pk }}"><img class="circle responsive-img" src="{{ item.get_picture }}" style="height:100px;"></a>
        </div>
        <div class="row" style="font-weight: 300; margin-left:16%;margin-right:16%;margin-bottom:20px;border-bottom: 1px #c3c3c3 solid;">
          <span style="font-size:27px;">{{ item.realname }}</span><br>
          <span style="color: #00bfa5;">{{ item.enter_year }}</span>级 | {{ item.major }}
        </div>

        <div class="row" style=" margin-left:16%;margin-right:16%;margin-bottom:20px;border-bottom: 1px #c3c3c3 solid;">
          <div class="col l8 offset-l2 s12">
            <ul class="collection" style="font-weight:300;">
              <li class="collection-item">工作经历<span class="badge">2</span></li>
              <li class="collection-item">项目经历<span class="badge">5</span></li>
              <li class="collection-item">教育经历<span class="badge">1</span></li>
            </ul>
          </div>
        </div>

        <div class="row" style="margin-left:8%;margin-right:8%;margin-bottom: 20px;">
          <div class="col s4 left-align " style="text-align:center;font-weight: 300;">
          <a class="btn-floating btn-large waves-effect waves-light white"><i class="material-icons thumb_up">thumb_up</i></a><br>推荐
          </div>
          <div class="col s4 valign ">
          <br> <span style="color:#00bfa5;font-weight: 300;">{{ item.votes }}次<br>『推荐』</span>
          </div>
          <div class="col s4 right-align " style="text-align:center;font-weight: 300;">
          <a class="btn-floating btn-large waves-effect waves-light white"><i class="material-icons person_pin">person_pin</i></a><br>加好友
          </div>
        </div>

        <div class="row">
          
        </div>
      </div>
        {% endfor %}

    </div>


    </div>
  </div>

  <footer class="page-footer teal accent-4" style="padding-top: 0;">
    <div class="footer-copyright">
      <div class="container">
      Made by 
      <a class="orange-text text-lighten-3" href="http://chengkang.pw">CHENGKANG</a>
      、
      <a class="orange-text text-lighten-3" href="http://MrLiao.cn">Mr.Liao</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript">
    (function($){
      $(function(){

        $('.button-collapse').sideNav();

      }); // end of document ready
    })(jQuery); // end of jQuery name space
  </script>

  </body>
</html>
