<html lang="en">
<head>
</head>
<body>
{% load staticfiles %} {% load i18n %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<title>8 x 8 - 自己</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="http://jcrop-cdn.tapmodo.com/v2.0.0-RC1/js/Jcrop.js"></script>
<link rel="stylesheet" href="http://jcrop-cdn.tapmodo.com/v2.0.0-RC1/css/Jcrop.css" type="text/css">
<style type="text/css">
.jcrop-selection>button{background-color:transparent}
</style>
<div class="navbar-fixed">
	<nav class="teal accent-4" role="navigation">
	<div class="nav-wrapper container">
		<ul id="nav-mobile" class="brand-logo center">
			<li ui-sref-active="active"><a ui-sref="top" href="/">8 x 8</a></li>
		</ul>
		<ul id="nav-mobile" class="leftConnected">
			<li ui-sref-active="active" class="active"><a ui-sref="profile" ng-click="appHeader.goToProfile($event)" href="/me">自己</a></li>
		</ul>
		<ul id="nav-mobile" class="right">
			<li ui-sref-active="active"><a ui-sref="world" href="/square">广场</a></li>
		</ul>
	</div>
	</nav>
</div>
<div class="container center-align" style="max-width:560px;margin-top:50px">
	<div class="fixed-action-btn" style="bottom:45px;right:24px">
		<a class="btn-floating btn-large teal"><i class="large material-icons">dashboard</i></a>
		<ul>
			<li><a class="btn-floating red" href="/search"><i class="material-icons">search</i></a></li>
			<li><a class="btn-floating yellow darken-1" href="/notifications"><i class="material-icons">info</i></a></li>
			<li><a class="btn-floating blue" href="/messages"><i class="material-icons">textsms</i></a></li>
			<li><a class="btn-floating green" href="/friends"><i class="material-icons">contacts</i></a></li>
		</ul>
	</div>
	<div class="section">
		<div class="row" id="info_section_start">
			<div class="col s6 offset-s3">
				<img class="circle responsive-img" src="{{ user.profile.get_picture }}">
			</div>
			<a class="waves-effect waves-light btn crop-modal-trigger" id="a_for_crop_modal" href="#crop_modal" style="display:none">Crop Modal</a>
		</div>
		<div class="row">
			<form enctype="multipart/form-data" method="post" action="{% url 'upload_picture' %}" id="picture-upload-form">
				{% csrf_token %} <input type="file" name="picture" style="display:none"><button type="button" class="btn btn-default block" id="btn-upload-picture">修改头像</button>
			</form>
		</div>
		<div class="row" style="border-bottom:1px solid #ccc">
			<h5 class="realname" style="font-weight:300">{{ user.profile.realname }}</h5>
		</div>
		<div class="row" style="margin-top:-15px">
			<span style="font-weight:300">{{ user.profile.enter_year }}级 | {{ user.profile.major }}<span style="display:none">| 男</span></span>
		</div>
		<div class="row">
			<div class="col s8 offset-s2">
				<a class="waves-effect waves-light btn collection-item modal-trigger" href="#modal-info"><i class="material-icons left">mode_edit</i>修改基本信息</a>
				<table class="highlight centered" style="font-weight:300">
				<tbody>
				{% if user.profile.wechat %}
				<tr>
					<td>
						微信号
					</td>
					<td>
						{{ user.profile.wechat }}
					</td>
				</tr>
				{% endif %} {% if user.profile.phone %}
				<tr>
					<td>
						手机号
					</td>
					<td>
						{{ user.profile.phone }}
					</td>
				</tr>
				{% endif %}
				<tr>
					<td>
						邮箱
					</td>
					{% if user.email %}
					<td>
						{{ user.email }}
					</td>
					{% else %}
					<td>
						{{ user.username }}
					</td>
					{% endif %}
				</tr>
				{% if user.profile.address %}
				<tr>
					<td>
						地址
					</td>
					<td>
						{{ user.profile.address }}
					</td>
				</tr>
				{% endif %}
				</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="divider">
	</div>
	<div id="expandable" class="section scrollspy">
		<div class="row" id="work">
			<div class="col s12 m3">
				<h5 class="light">工作经历</h5>
			</div>
			<div class="col s12 m9">
				<ul class="collapsible" data-collapsible="expandable">
                    {% for item in work %}
					<li>
					<div class="collapsible-header">
						<a class="collection-item modal-trigger" href="#modal_work_{{ item.pk }}"><i class="material-icons small" style="color:#00bfa5">mode_edit</i></a>{{ item.position }}
					</div>
					<div class="collapsible-body" style="text-align:left;padding:20px 30px 20px 30px">
						<small>{{ item.start_date }} - {{ item.end_date }}<br>
						任职于 {{ item.name }}<br>
						主要工作：<br>
						{{ item.description }}</small>
					</div>
					</li>
                    {% empty %}
                      <small>{% trans '暂无' %}</small>
                    {% endfor %}
				</ul>
				<a class="btn-floating waves-effect waves-light collection-item modal-trigger" href="#modal_work_add"><i class="material-icons small">add</i></a>
			</div>
		</div>
	</div>
	<div class="divider">
	</div>
	<div id="expandable" class="section scrollspy">
		<div class="row" id="proj">
			<div class="col s12 m3">
				<h5 class="light">项目经历</h5>
			</div>
			<div class="col s12 m9">
				<ul class="collapsible" data-collapsible="expandable">
                    {% for item in project %}
					<li>
					<div class="collapsible-header">
						<a class="collection-item modal-trigger" href="#modal_proj_{{ item.pk }}"><i class="material-icons small" style="color:#00bfa5">mode_edit</i></a>{{ item.name }}
					</div>
					<div class="collapsible-body" style="text-align:left;padding:20px 30px 20px 30px">
						<small>{{ item.description }}</small>
					</div>
					</li>
                    {% empty %}
                      <small>{% trans '暂无' %}</small>
                    {% endfor %}
				</ul>
				<a class="btn-floating waves-effect waves-light collection-item modal-trigger" href="#modal_proj_add"><i class="material-icons small">add</i></a>
			</div>
		</div>
	</div>
	<div class="divider">
	</div>
	<div id="expandable" class="section scrollspy">
		<div class="row" id="edu">
			<div class="col s12 m3">
				<h5 class="light">教育经历</h5>
			</div>
			<div class="col s12 m9">
				<ul class="collapsible" data-collapsible="expandable">
                    {% for item in edu %}
					<li>
					<div class="collapsible-header">
						<a class="collection-item modal-trigger" href="#modal_edu_{{ item.pk }}"><i class="material-icons small" style="color:#00bfa5">mode_edit</i></a>{{ item.name }}
					</div>
					<div class="collapsible-body" style="padding-top:10px;padding-bottom:10px">
						<small>{{ item.start_date }} - {{ item.end_date }}<br>
						{{ item.get_degree_display }}<br>
						{{ item.position }}</small>
					</div>
					</li>
					<li>
                    {% empty %}
                      <small>{% trans '暂无' %}</small>
                    {% endfor %}
				</ul>
				<a class="btn-floating waves-effect waves-light collection-item modal-trigger" href="#modal_edu_add"><i class="material-icons small">add</i></a>
			</div>
		</div>
	</div>
	<div class="divider">
	</div>
	<div id="expandable" class="section scrollspy">
		<div class="row" id="other">
			<div class="col s12 m3">
				<h5 class="light">其他经历</h5>
			</div>
			<div class="col s12 m9">
				<ul class="collapsible" data-collapsible="expandable">
                    {% for item in other %}
					<li>
					<div class="collapsible-header">
						<a class="collection-item modal-trigger" href="#modal_other_{{ item.pk }}"><i class="material-icons small" style="color:#00bfa5">mode_edit</i></a>{{ item.name }}
					</div>
					<div class="collapsible-body" style="text-align:left;padding:20px 30px 20px 30px">
						<small>{{ item.description }}</small>
					</div>
					</li>
                    {% empty %}
                      <small>{% trans '暂无' %}</small>
                    {% endfor %}
				</ul>
				<a class="btn-floating waves-effect waves-light collection-item modal-trigger" href="#modal_other_add"><i class="material-icons small">add</i></a>
			</div>
		</div>
	</div>
	<div class="divider">
	</div>
	<div class="section">
		<div class="row" id="password">
			<a class="waves-effect waves-light btn collection-item modal-trigger" href="#modal-password">修改密码</a>
		</div>
		<div class="row">
			<a class="waves-effect waves-teal btn-flat" href="/signout">注销</a>
		</div>
	</div>
	<div id="modal-info" class="modal modal-fixed-footer">
		<form method="post" action="{% url 'update_profile' %}">
			{% csrf_token %}
			<div class="modal-content">
				<div class="container">
					<h5 style="color:#7f7f7f;font-weight:300">修改基本信息</h5>
					{% if profile_form.errors %} <small style="color:#F44336">{{ profile_form.errors.as_text }}</small>{% endif %}
					<div class="row">
						<div class="input-field col s8">
							<input type="text" name="realname" pattern="^[\u4E00-\u9FFF]{2,6}$" class="validate" value="{{ user.profile.realname }}"><label class="active">姓名</label>
						</div>
						<div class="input-field col s4">
							<select>
								<option value="m" selected>男</option>
								<option value="f">女</option>
							</select>
							<label>性别</label>
						</div>
						<div class="input-field col s8">
							<input type="text" name="major" pattern="^[\u4E00-\u9FFF]+" class="validate" value="{{ user.profile.major }}"><label class="active">专业</label>
						</div>
						<div class="input-field col s4">
							<input type="text" name="enter_year" pattern="^(19|20)(\d){2}$" class="validate" value="{{ user.profile.enter_year }}"><label class="active">入学年份</label>
						</div>
						<div class="input-field col s12">
							<input type="text" name="wechat" class="validate" value="{{ user.profile.wechat }}"><label class="active">微信号</label>
						</div>
						<div class="input-field col s12">
							<input type="text" name="phone" pattern="[\d]{11}" class="validate" value="{{ user.profile.phone }}"><label class="active">手机号</label>
						</div>
						<div class="input-field col s12">
							<input type="text" name="email" pattern="(\w|\d)+@(\w|\d)+\.([a-z]+)" class="validate" value="{% if user.email %}{{ user.email }}{% else %}{{ user.username }}{% endif %}"><label class="active">邮箱</label>
						</div>
						<div class="input-field col s12">
							<input type="text" name="address" class="validate" value="{{ user.profile.address }}"><label class="active">地址</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="modal-action modal-close waves-effect waves-light btn">修改</button><a href="#info_section_start" class="modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
			</div>
		</form>
	</div>
	<div id="modal-password" class="modal modal-fixed-footer">
		<form method="post" action="{% url 'update_password' %}">
			{% csrf_token %} {{ change_password_form.id }}
			<div class="modal-content">
				<div class="container">
					<h5 style="color:#7f7f7f;font-weight:300">修改密码</h5>
					{% if change_password_form.errors %} <small style="color:#F44336">{{ change_password_form.errors.as_text }}</small>{% endif %}
					<div class="row">
						<div class="input-field col s12">
							<input type="password" name="old_password" pattern="[\w]{8,15}" class="validate"><label class="active">原密码</label>
						</div>
						<div class="input-field col s12">
							<input type="password" name="new_password" pattern="[\w]{8,15}" class="validate"><label class="active">新密码</label>
						</div>
						<div class="input-field col s12">
							<input type="password" name="confirm_password" pattern="[\w]{8,15}" class="validate"><label class="active">新密码确认</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="modal-action modal-close waves-effect waves-light btn">修改</button>
                <a href="#password" class="modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
			</div>
		</form>
	</div>

    {% for item in work_modal %}
	<div id="modal_work_{{ item.pk }}" class="modal modal-fixed-footer modal_edit">
		<div class="modal-content">
			<div class="container">
				<h5 style="color:#7f7f7f;font-weight:300">修改工作经历</h5>
				<div class="row">
					<form class="col s12" id="work_form_{{ item.pk }}">
						<div class="row center">
							<div class="input-field col s12">
								<input id="name" name="name" type="text" class="validate" value="{{ item.name }}"><label for="company" data-error="wrong">公司</label>
							</div>
							<div class="input-field col s12">
								<input id="position" name="position" type="text" class="validate" value="{{ item.position }}"><label for="position" data-error="wrong">职位</label>
							</div>
							<div class="input-field col s6">
								<input id="start_date" name="start_date" type="text" class="validate" placeholder="例:2012.9" value="{{ item.start_date }}" pattern="^(19|20)(\d){2}\.(12|11|10|9|8|7|6|5|4|3|2|1)$"><label for="start_date" data-error="wrong">入职日期</label>
							</div>
							<div class="input-field col s6">
								<input id="end_date" name="end_date" type="text" class="validate" placeholder="例:2016.6" value="{{ item.end_date }}" pattern="^((19|20)(\d){2}\.(12|11|10|9|8|7|6|5|4|3|2|1)|至今)$"><label for="end_date" data-error="wrong">离职日期</label>
							</div>
							<div class="input-field col s12">
								<textarea id="description" name="description" class="materialize-textarea">{{ item.description }}</textarea><label for="desc" data-error="wrong">主要工作</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a id="work_edit_btn_{{ item.pk}}" exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class="modal-action modal-close waves-effect waves-light btn edit_btn">修改</a>
            <a id="work_delete_btn_{{ item.pk }}" exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class=" modal-action modal-close waves-effect waves-light btn red accent-4 delete_btn">删除</a>
            <a href="#work" class="modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
		</div>
	</div>
    {% endfor %}
    {% for item in project_modal %}
	<div id="modal_proj_{{ item.pk }}" class="modal modal-fixed-footer modal_edit">
		<div class="modal-content">
			<div class="container">
				<h5 style="color:#7f7f7f;font-weight:300">修改项目经历</h5>
				<div class="row">
					<form class="col s12" id="proj_form_{{ item.pk }}">
						<div class="row center">
							<div class="input-field col s12">
								<input id="name" name="name" type="text" class="validate" value="{{ item.name }}"><label for="project_name" data-error="wrong">项目名称</label>
							</div>
							<div class="input-field col s12">
								<textarea id="description" name="description" class="materialize-textarea">{{ item.description }}</textarea><label for="project_desc" data-error="wrong">项目介绍</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a id="proj_edit_btn_{{ item.pk}}" exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class="modal-action modal-close waves-effect waves-light btn edit_btn">修改</a>
            <a id="proj_delete_btn_{{ item.pk }}" exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class=" modal-action modal-close waves-effect waves-light btn red accent-4 delete_btn">删除</a>
            <a href="#proj" class="modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
		</div>
	</div>
    {% endfor %}
    {% for item in edu_modal %}
	<div id="modal_edu_{{ item.pk }}" class="modal modal-fixed-footer modal_edit">
		<div class="modal-content">
			<div class="container">
				<h5 style="color:#7f7f7f;font-weight:300">修改教育经历</h5>
				<div class="row">
					<form class="col s12" id="edu_form_{{ item.pk }}">
						<div class="row center">
							<div class="input-field col s12">
								<input id="name" name="name" type="text" class="validate" value="{{ item.name }}"><label for="name" data-error="wrong">学校</label>
							</div>
							<div class="input-field col s12">
								<select id="degree" name="degree">
									<option value="U" {% if item.degree == 'U' %} selected="selected" {% endif %}>本科</option>
									<option value="P" {% if item.degree == 'P' %} selected="selected" {% endif %}>研究生</option>
									<option value="D" {% if item.degree == 'D' %} selected="selected" {% endif %}>博士</option>
									<option value="O" {% if item.degree == 'O' %} selected="selected" {% endif %}>其他</option>
								</select>
								<label>学历</label>
							</div>
							<div class="input-field col s12">
								<input id="position" name="position" type="text" class="validate" value="{{ item.position }}"><label for="institute" data-error="wrong">专业</label>
							</div>
							<div class="input-field col s6">
								<input id="start_date" name="start_date" type="text" class="validate" placeholder="例:2012.9" pattern="^(19|20)(\d){2}\.(12|11|10|9|8|7|6|5|4|3|2|1)$" value="{{ item.start_date }}"><label for="start_date" data-error="wrong">入学日期</label>
							</div>
							<div class="input-field col s6">
								<input id="end_date" name="end_date" type="text" class="validate" placeholder="例:2016.6" pattern="^((19|20)(\d){2}\.(12|11|10|9|8|7|6|5|4|3|2|1)|至今)$" value="{{ item.end_date }}"><label for="end_date" data-error="wrong">毕业日期</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a id="edu_edit_btn_{{ item.pk}}" exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class="modal-action modal-close waves-effect waves-light btn edit_btn">修改</a>
            <a id="edu_delete_btn_{{ item.pk }}" exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class=" modal-action modal-close waves-effect waves-light btn red accent-4 delete_btn">删除</a>
            <a href="#edu" class="modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
		</div>
	</div>
    {% endfor %}
    {% for item in other_modal %}
	<div id="modal_other_{{ item.pk }}" class="modal modal-fixed-footer modal_edit">
		<div class="modal-content">
			<div class="container">
				<h5 style="color:#7f7f7f;font-weight:300">修改其他经历</h5>
				<div class="row">
					<form class="col s12" id="other_form_{{ item.pk }}">
						<div class="row center">
							<div class="input-field col s12">
								<input id="name" name="name" type="text" class="validate" value="{{ item.name }}"><label for="project_name" data-error="wrong">经历名称</label>
							</div>
							<div class="input-field col s12">
								<textarea id="description" name="description" class="materialize-textarea">{{ item.description }}</textarea><label for="project_desc" data-error="wrong">经历介绍</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a id="other_edit_btn_{{ item.pk}}"  exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class="modal-action modal-close waves-effect waves-light btn edit_btn">修改</a>
            <a id="other_delete_btn_{{ item.pk }}" exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class=" modal-action modal-close waves-effect waves-light btn red accent-4 delete_btn">删除</a>
            <a href="#other" class="modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
		</div>
	</div>
    {% endfor %}
	<div id="modal_work_add" class="modal modal-fixed-footer modal_add">
		<div class="modal-content">
			<div class="container">
				<h5 style="color:#7f7f7f;font-weight:300">新增工作经历</h5>
				<div class="row">
					<form class="col s12" id="work_form_add">
						<div class="row center">
							<div class="input-field col s12">
								<input id="name" name="name" type="text" class="validate"><label for="company" data-error="wrong">公司</label>
							</div>
							<div class="input-field col s12">
								<input id="position" name="position" type="text" class="validate"><label for="position" data-error="wrong">职位</label>
							</div>
							<div class="input-field col s6">
								<input id="start_date" name="start_date" name="start_date" type="text" class="validate" placeholder="例:2012.9" pattern="^(19|20)(\d){2}\.(12|11|10|9|8|7|6|5|4|3|2|1)$"><label for="start_date" data-error="wrong">入职日期</label>
							</div>
							<div class="input-field col s6">
								<input id="end_date" name="end_date" name="end_date" type="text" class="validate" placeholder="例:2016.6" pattern="^((19|20)(\d){2}\.(12|11|10|9|8|7|6|5|4|3|2|1)|至今)$"><label for="end_date" data-error="wrong">离职日期</label>
							</div>
							<div class="input-field col s12">
								<textarea id="description" name="description" class="materialize-textarea"></textarea><label for="desc" data-error="wrong">主要工作</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a id="work_add_btn" exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class="modal-action modal-close waves-effect waves-light btn add_btn">新增</a>
            <a href="#work" class="modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
		</div>
	</div>
	<div id="modal_proj_add" class="modal modal-fixed-footer modal_add">
		<div class="modal-content">
			<div class="container">
				<h5 style="color:#7f7f7f;font-weight:300">新增项目经历</h5>
				<div class="row">
					<form class="col s12" id="proj_form_add">
						<div class="row center">
							<div class="input-field col s12">
								<input id="name" name="name" type="text" class="validate"><label for="project_name" data-error="wrong">项目名称</label>
							</div>
							<div class="input-field col s12">
								<textarea id="description" name="description" class="materialize-textarea"></textarea><label for="project_desc" data-error="wrong">项目介绍</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a id="proj_add_btn" exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class="modal-action modal-close waves-effect waves-light btn add_btn">新增</a>
            <a href="#proj" class="modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
		</div>
	</div>
	<div id="modal_edu_add" class="modal modal-fixed-footer modal_add">
		<div class="modal-content">
			<div class="container">
				<h5 style="color:#7f7f7f;font-weight:300">新增教育经历</h5>
				<div class="row">
					<form class="col s12" id="edu__form_add">
						<div class="row center">
							<div class="input-field col s12">
								<input id="name" name="name" type="text" class="validate"><label for="institute" data-error="wrong">学校</label>
							</div>
							<div class="input-field col s12">
								<select id="degree" name="degree" name="degree">
									<option value="U">本科</option>
									<option value="P">研究生</option>
									<option value="D">博士</option>
									<option value="O">其他</option>
								</select>
								<label>学历</label>
							</div>
							<div class="input-field col s12">
								<input id="position" name="position" type="text" class="validate"><label for="institute" data-error="wrong">专业</label>
							</div>
							<div class="input-field col s6">
								<input id="start_date" name="start_date" name="start_date" type="text" class="validate" placeholder="例：2012.9" pattern="^(19|20)(\d){2}\.(12|11|10|9|8|7|6|5|4|3|2|1)$"><label for="start_date" data-error="wrong">入学日期</label>
							</div>
							<div class="input-field col s6">
								<input id="end_date" name="end_date" name="end_date" type="text" class="validate" placeholder="例：2016.6" pattern="^((19|20)(\d){2}\.(12|11|10|9|8|7|6|5|4|3|2|1)|至今)$"><label for="end_date" data-error="wrong">毕业日期</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a id="edu_add_btn" exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class="modal-action modal-close waves-effect waves-light btn add_btn">新增</a>
            <a href="#edu" class="modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
		</div>
	</div>
	<div id="modal_other_add" class="modal modal-fixed-footer modal_add">
		<div class="modal-content">
			<div class="container">
				<h5 style="color:#7f7f7f;font-weight:300">新增其他经历</h5>
				<div class="row">
					<form class="col s12" id="other_form_add">
						<div class="row center">
							<div class="input-field col s12">
								<input id="name" name="name" name="name" type="text" class="validate"><label for="project_name" data-error="wrong">经历名称</label>
							</div>
							<div class="input-field col s12">
								<textarea id="description" name="description" name="description" class="materialize-textarea"></textarea><label for="project_desc" data-error="wrong">经历介绍</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a id="other_add_btn" exp-id="{{ item.pk }}" csrf="{{ csrf_token }}" class="modal-action modal-close waves-effect waves-light btn add_btn">新增</a>
            <a href="#other" class="modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
		</div>
	</div>
	{% if uploaded_picture %}
	<div id="crop_modal" class="modal modal-fixed-footer">
		<form method="post" action="{% url 'save_uploaded_picture' %}">
			<div class="modal-content">
				<div id="interface" class="page-interface">
					<img src="{{ MEDIA_URL }}profile_pictures/{{ user.username }}_tmp.jpg?_={% now 'U' %}" id="target">
				</div>
				{% csrf_token %} <input type="hidden" name="x" id="cropx" value="0"><input type="hidden" name="y" id="cropy" value="0"><input type="hidden" name="w" id="cropw" value="0"><input type="hidden" name="h" id="croph" value="0">
			</div>
			<div class="modal-footer">
				<button type="submit" class="modal-action waves-effect waves-green btn">裁剪完毕</button>
			</div>
		</form>
	</div>
	{% endif %}
</div>
<footer class="page-footer teal accent-4" style="padding-top:0">
<div class="footer-copyright">
	<div class="container">
		Made by <a class="orange-text text-lighten-3" href="http://chengkang.pw">CHENGKANG</a> 、 <a class="orange-text text-lighten-3" href="http://MrLiao.cn">Mr.Liao</a>
	</div>
</div>
</footer>
<script type="text/javascript">
    $(function() {
        $('.modal-trigger').leanModal();
        $('.datepicker').pickadate({
            selectMonths: true,
            // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
        $('select').material_select();
        $('#target').Jcrop();
        $('#target').Jcrop({
            setSelect: [0, 0, 200, 200],
            aspectRatio: 1,
            bgColor: 'white'
        });
        $('#interface').on('cropmove cropend', function(e, s, c) {
            console.log(e, s, c);
            $('#cropx').val(c.x);
            $('#cropy').val(c.y);
            $('#cropw').val(c.w);
            $('#croph').val(c.h);
        });

        $("#btn-upload-picture").click(function() {
            $("#picture-upload-form input[name='picture']").click();
        });
        $("#picture-upload-form input[name='picture']").change(function() {
            $("#picture-upload-form").submit();
        });
        {% if uploaded_picture %}
        $('.crop-modal-trigger').leanModal({
              dismissible: false, // Modal can be dismissed by clicking outside of the modal
            }
          );
        $("#crop_modal").openModal();
        window.history.pushState("", "", "/me/");
        {% endif %}


      $(".add_btn").on("click", function () {
          var csrf = $(this).attr("csrf");
          var this_id = $(this).prop("id");

          console.log($(this).prop("id"));
          console.log($(this).prop("id") == 'work_add_btn');
          var experience_type = '';
          if(this_id == 'work_add_btn'){
              experience_type = 'W';
          }else if(this_id == 'edu_add_btn'){
              experience_type = 'E';
          }else if(this_id == 'proj_add_btn'){
              experience_type = 'P';
          }else if(this_id == 'other_add_btn'){
              experience_type = 'O';
          }


            var modal = $(this).parents(".modal_add");
            var name = modal.find("input[name=name]")
            var position = modal.find("input[name=position]")
            var description = modal.find("textarea[name=description]")
            var degree = modal.find("select[name=degree]")
            var start_date = modal.find("input[name=start_date]")
            var end_date = modal.find("input[name=end_date]")
            $.ajax({
              url: '/experience/add/',
              data: {
                'type':experience_type,
                'name': name.val(),
                'position': position.val(),
                'degree': degree.val(),
                'description': description.val(),
                'start_date': start_date.val(),
                'end_date': end_date.val(),
                'csrfmiddlewaretoken': csrf
              },
              type: 'post',
              cache: false,
              success: function (data) {
{#                  console.log(data);#}
{##}
{#                  li = $(data)[0];#}
{#                  div = $(data)[1];#}
{#                  password_div = $("#modal-password")#}
{#                  if(this_id == 'work_add_btn'){#}
{#                      this_div = $("#work").children()[1];#}
{#                      this_ul = $(this_div).children()[0];#}
{#                      $(this_ul).append(li);#}
{#                      $(password_div).after(div);#}
{#                  }else if(this_id == 'edu_add_btn'){#}
{#                      this_div = $("#edu").children()[1];#}
{#                      this_ul = $(this_div).children()[0];#}
{#                      $(this_ul).append(li);#}
{#                      $(password_div).after(div);#}
{#                  }else if(this_id == 'proj_add_btn'){#}
{#                      this_div = $("#proj").children()[1];#}
{#                      this_ul = $(this_div).children()[0];#}
{#                      $(this_ul).append(li);#}
{#                      $(password_div).after(div);#}
{#                  }else if(this_id == 'other_add_btn'){#}
{#                      this_div = $("#other").children()[1];#}
{#                      this_ul = $(this_div).children()[0];#}
{#                      $(this_ul).append(li);#}
{#                      $(password_div).after(div);#}
{#                  }#}
{##}
{#                $('.modal-trigger').leanModal();#}
                  window.location.reload();
              }
            });
            return false;

        });
    
    
      $(".edit_btn").on("click", function () {
          var csrf = $(this).attr("csrf");
          var exp_id = $(this).attr("exp-id");

          console.log($(this).prop("id"));
          console.log($(this).prop("id") == 'work_edit_btn');


            var modal = $(this).parents(".modal_edit");
            var name = modal.find("input[name=name]")
            var position = modal.find("input[name=position]")
            var description = modal.find("textarea[name=description]")
            var degree = modal.find("select[name=degree]")
            var start_date = modal.find("input[name=start_date]")
            var end_date = modal.find("input[name=end_date]")
            $.ajax({
              url: '/experience/edit/',
              data: {
                'experience_id': exp_id,
                'name': name.val(),
                'position': position.val(),
                'degree': degree.val(),
                'description': description.val(),
                'start_date': start_date.val(),
                'end_date': end_date.val(),
                'csrfmiddlewaretoken': csrf
              },
              type: 'post',
              cache: false,
              success: function (data) {
                  window.location.reload();
              }
            });
            return false;

        });


      $(".delete_btn").on("click", function () {
          var csrf = $(this).attr("csrf");
          var exp_id = $(this).attr("exp-id");

          console.log($(this).prop("id"));
          console.log($(this).prop("id") == 'work_edit_btn');

            $.ajax({
              url: '/experience/delete/',
              data: {
                'experience_id': exp_id,
                'csrfmiddlewaretoken': csrf
              },
              type: 'post',
              cache: false,
              success: function (data) {
                  window.location.reload();
              }
            });
            return false;

        });
    
        });
      {% if messages %}
        {% for message in messages %}
            Materialize.toast('{{ message }}', 2000);
        {% endfor %}
      {% endif %}</script>
</body>
</html>