{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>8 x 8 - 自己</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="{% static 'css/jquery.Jcrop.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
</head>
<body>
  <div class="navbar-fixed">
    <nav class="teal accent-4" role="navigation">
      <div class="nav-wrapper container">
              <ul id="nav-mobile" class="brand-logo center">
                  <li ui-sref-active="active"><a ui-sref="top" href="/top">8 x 8</a></li>
              </ul>
              <ul id="nav-mobile" class="leftConnected">
                  <li ui-sref-active="active" class="active"><a ui-sref="profile" ng-click="appHeader.goToProfile($event)" href="/profile">自己</a></li>
              </ul>
              <ul id="nav-mobile" class="right">
                  <li ui-sref-active="active"><a ui-sref="world" href="/world">广场</a></li>
              </ul>
          </div>
          </div>
    </nav>
  </div>

  <div class="container center-align" style="max-width: 560px;margin-top:50px;">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large teal">
        <i class="large material-icons">dashboard</i>
      </a>
      <ul>
        <li><a class="btn-floating red"><i class="material-icons">search</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">info</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">textsms</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">contacts</i></a></li>
      </ul>
    </div>
    <div class="section">

      <!--   Avatar Section   -->
      <div class="row" id="info_section_start">
        <div class="col s6 offset-s3">
          <img class="circle responsive-img" src="{{ user.profile.get_picture }}">
        </div>

      <form enctype="multipart/form-data" method="post" action="{% url 'upload_picture' %}" id="picture-upload-form">
        {% csrf_token %}
        <input type="file" name="picture" style="display: none">
        <button type="button" class="btn btn-default" id="btn-upload-picture">{% trans 'Upload new picture' %}</button>
      </form>

      {% if uploaded_picture %}
        <form method="post" action="{% url 'save_uploaded_picture' %}">
          {% csrf_token %}
          <div class="modal fade" id="modal-upload-picture">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">{% trans 'Crop Picture' %}</h4>
                </div>
                <div class="modal-body">
                  <div class="selected-picture">
                    <p>{% trans 'Crop the profile picture and then click on the' %} <strong>{% trans 'Save Picture' %}</strong> {% trans 'button' %}</p>
                    <img src="{{ MEDIA_URL }}profile_pictures/{{ user.username }}_tmp.jpg?_={% now 'U' %}" id="crop-picture">
                    <input type="hidden" id="x" name="x" />
                    <input type="hidden" id="y" name="y" />
                    <input type="hidden" id="w" name="w" />
                    <input type="hidden" id="h" name="h" />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                  <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      {% endif %}

      </div>
      <div class="row" style="border-bottom: 1px solid #ccc;">
        <h5 class="realname" style="font-weight: 300;">{{ user.profile.realname }}</h5>
      </div>
      <div class="row" style="margin-top:-15px;">
        <span style="font-weight: 300;">{{ user.profile.enter_year }}级 | {{ user.profile.major }}<span style="display:none;"> | 男</span>
      </div>
      <div class="row">
        <div class="col s8 offset-s2">
          <a class="waves-effect waves-light btn collection-item modal-trigger" href="#modal-info"><i class="material-icons left">mode_edit</i>修改基本信息</a>
          <table class="highlight centered" style="font-weight:300;">
            <tbody>
              {% if user.profile.wechat %}
              <tr>
                <td>微信号</td>
                <td>{{ user.profile.wechat }}</td>
              </tr>
              {% endif %}
              {% if user.profile.phone %}
              <tr>
                <td>手机号</td>
                <td>{{ user.profile.phone }}</td>
              </tr>
              {% endif %}
              <tr>
                <td>邮箱</td>
                {% if user.email %}
                <td>{{ user.email }}</td>
                {% else %}
                <td>{{ user.username }}</td>
                {% endif %}
              </tr>
              {% if user.profile.address %}
              <tr>
                <td>地址</td>
                <td>{{ user.profile.address }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="divider"></div>
    
    <div id="expandable" class="section scrollspy">
      <div class="row" id="work">
        <div class="col s12 m3"><h5 class="light">工作经历</h5></div>
        <div class="col s12 m9">
          <ul class="collapsible" data-collapsible="expandable">
            <li class="">
              <div class="collapsible-header"><a class="collection-item modal-trigger" href="#modal-work_1"><i class="material-icons small" style="color: #00bfa5;">mode_edit</i></a>JAVA开发工程师</div>
              <div class="collapsible-body" style="text-align:left;padding: 20px 30px 20px 30px;">
                <small>
                2015.1 - 至今<br>
                任职于 北大医疗信息技术有限公司<br>
                主要工作：<br>
                写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。
                </small>
              </div>
            </li>
            <li class="">
              <div class="collapsible-header"><a class="collection-item modal-trigger" href="#modal-work_2"><i class="material-icons small" style="color: #00bfa5;">mode_edit</i></a>PHP实习工程师</div>
              <div class="collapsible-body" style="text-align:left;padding: 20px 30px 20px 30px;">
                <small>
                2014.5 - 2014.8<br>
                任职于 荔橙空间信息技术有限公司<br>
                主要工作：<br>
                写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。
                </small>
              </div>
            </li>
          </ul>

          <a class="btn-floating waves-effect waves-light collection-item modal-trigger" href="#modal-work_add"><i class="material-icons small">add</i></a>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    
    <div id="expandable" class="section scrollspy">
      <div class="row" id="proj">
        <div class="col s12 m3"><h5 class="light">项目经历</h5></div>
        <div class="col s12 m9">
          <ul class="collapsible" data-collapsible="expandable">
            <li class="">
              <div class="collapsible-header"><a class="collection-item modal-trigger" href="#modal-proj_1"><i class="material-icons small" style="color: #00bfa5;">mode_edit</i></a>8x8.suosi.org</div>
              <div class="collapsible-body" style="text-align:left;padding: 20px 30px 20px 30px;">
                <small>
                8x8社区是北科校友互荐招聘平台。<br>
                平台由用户修改个人资料，平台负责真实性审核，保证每一位用户信息的真实性。<br>
                平台旨在整合北科校友工作相关信息，帮助北科校友找到合适的工作/招聘对象。
                </small>
              </div>
            </li>
          </ul>

          <a class="btn-floating waves-effect waves-light collection-item modal-trigger" href="#modal-proj_add"><i class="material-icons small">add</i></a>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    
    <div id="expandable" class="section scrollspy">
      <div class="row" id="edu">
        <div class="col s12 m3"><h5 class="light">教育经历</h5></div>
        <div class="col s12 m9">
          <ul class="collapsible" data-collapsible="expandable">
            <li class="">
              <div class="collapsible-header"><a class="collection-item modal-trigger" href="#modal-edu_1"><i class="material-icons small" style="color: #00bfa5;">mode_edit</i></a>北京科技大学</div>
              <div class="collapsible-body" style="padding-top: 10px;padding-bottom: 10px;">
                <small>
                2012.9 - 至今<br>
                本科<br>
                计算机科学与技术
                </small>
              </div>
            </li>
            <li class="">
              <div class="collapsible-header"><a class="collection-item modal-trigger" href="#modal-edu_2"><i class="material-icons small" style="color: #00bfa5;">mode_edit</i></a>University of Dundee</div>
              <div class="collapsible-body" style="padding-top: 10px;padding-bottom: 10px;">
                <small>
                2015.9 - 至今<br>
                本科<br>
                Applied Computing
                </small>
              </div>
            </li>
          </ul>

          <a class="btn-floating waves-effect waves-light collection-item modal-trigger" href="#modal-edu_add"><i class="material-icons small">add</i></a>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="section">
      <div class="row" id="password">
        <a class="waves-effect waves-light btn collection-item modal-trigger" href="#modal-password">修改密码</a>
      </div>
      <div class="row">
        <a class="waves-effect waves-teal btn-flat">注销</a>
      </div>
    </div>

    <div id="modal-info" class="modal modal-fixed-footer">
        <form method="post" action="{% url 'update_profile' %}">
        {% csrf_token %}
        <div class="modal-content">
          <div class="container">
            <h5 style="color: #7f7f7f;font-weight: 300;">修改基本信息</h5>
            {% if profile_form.errors %}<small style="color: #F44336;">{{ profile_form.errors.as_text }}</small>{% endif %}
            <div class="row">
                <div class="input-field col s8">
                    <input type="text" name="realname" pattern="^[\u4E00-\u9FFF]{2,6}$" class="validate" value="{{ user.profile.realname }}">
                    <label class="active">姓名</label>
                </div>
                <div class="input-field col s4">
                  <select>
                    <option value="m" selected="selected">男</option>
                    <option value="f">女</option>
                  </select>
                  <label>性别</label>
                </div>
                <div class="input-field col s8">
                    <input type="text" name="major" pattern="^[\u4E00-\u9FFF]+" class="validate" value="{{ user.profile.major }}">
                    <label class="active">专业</label>
                </div>
                <div class="input-field col s4">
                    <input type="text" name="enter_year" pattern="^(19|20)(\d){2}$" class="validate" value="{{ user.profile.enter_year }}">
                    <label class="active">入学年份</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="wechat" class="validate" value="{{ user.profile.wechat }}">
                    <label class="active">微信号</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="phone" pattern="[\d]{11}" class="validate" value="{{ user.profile.phone }}">
                    <label class="active">手机号</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="email" pattern="(\w|\d)+@(\w|\d)+\.([a-z]+)" class="validate" value="{% if user.email %}{{ user.email }}{% else %}{{ user.username }}{% endif %}">
                    <label class="active">邮箱</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="address" class="validate" value="{{ user.profile.address }}">
                    <label class="active">地址</label>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class=" modal-action modal-close waves-effect waves-light btn">修改</button>
            <a href="#info_section_start" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
        </div>
        </form>
    </div>

    <div id="modal-password" class="modal modal-fixed-footer">
        <form method="post" action="{% url 'update_password' %}">
        {% csrf_token %}
        {{ change_password_form.id }}
        <div class="modal-content">
          <div class="container">
            <h5 style="color: #7f7f7f;font-weight: 300;">修改密码</h5>
              {% if change_password_form.errors %}<small style="color: #F44336;">{{ change_password_form.errors.as_text }}</small>{% endif %}
            <div class="row">
                <div class="input-field col s12">
                    <input type="password" name="old_password" pattern="[\w]{8,15}" class="validate">
                    <label class="active">原密码</label>
                </div>
                <div class="input-field col s12">
                    <input type="password" name="new_password" pattern="[\w]{8,15}" class="validate">
                    <label class="active">新密码</label>
                </div>
                <div class="input-field col s12">
                    <input type="password" name="confirm_password" pattern="[\w]{8,15}" class="validate">
                    <label class="active">新密码确认</label>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class=" modal-action modal-close waves-effect waves-light btn">修改</button>
            <a href="#password" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
        </div>
        </form>
    </div>

    <!-- 修改工作经历 遮罩层 -->
    <div id="modal-work_1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="container">
            <h5 style="color: #7f7f7f;font-weight: 300;">修改工作经历</h5>
            <div class="row">
              <form class="col s12" id="work_1-form">
                  <div class="row center">
                      <div class="input-field col s12">
                          <input id="company" type="text" class="validate" value="北大医疗信息技术有限公司">
                          <label for="company" data-error="wrong">公司</label>
                      </div>
                      <div class="input-field col s12">
                          <input id="postion" type="text" class="validate" value="JAVA开发工程师">
                          <label for="position" data-error="wrong">职位</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="start_date" type="date" class="datepicker" value="2011-01-04">
                          <label for="start_date" data-error="wrong">入职日期</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="end_date" type="date" class="datepicker" value="2011-01-05">
                          <label for="end_date" data-error="wrong">离职日期</label>
                      </div>
                      <div class="input-field col s12">
                          <textarea id="desc" class="materialize-textarea">写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。</textarea>
                          <label for="desc" data-error="wrong">主要工作</label>
                      </div>
                  </div>
              </form>
            </div>
          </div>  
        </div>
        <div class="modal-footer">
            <a href="#work" class=" modal-action modal-close waves-effect waves-light btn">修改</a>
            <a href="#work" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
        </div>
    </div>

    <!-- 修改项目经历 遮罩层 -->
    <div id="modal-proj_1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="container">
            <h5 style="color: #7f7f7f;font-weight: 300;">修改项目经历</h5>
            <div class="row">
              <form class="col s12" id="proj_1-form">
                  <div class="row center">
                      <div class="input-field col s12">
                          <input id="project_name" type="text" class="validate" value="8x8.suosi.org">
                          <label for="project_name" data-error="wrong">项目名称</label>
                      </div>
                      <div class="input-field col s12">
                          <textarea id="project_desc" class="materialize-textarea">写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。写代码。</textarea>
                          <label for="project_desc" data-error="wrong">项目介绍</label>
                      </div>
                  </div>
              </form>
            </div>
          </div>  
        </div>
        <div class="modal-footer">
            <a href="#proj" class=" modal-action modal-close waves-effect waves-light btn">修改</a>
            <a href="#proj" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
        </div>
    </div>

    <!-- 修改教育经历 遮罩层 -->
    <div id="modal-edu_1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="container">
            <h5 style="color: #7f7f7f;font-weight: 300;">修改教育经历</h5>
            <div class="row">
              <form class="col s12" id="edu_1-form">
                  <div class="row center">
                      <div class="input-field col s12">
                          <input id="institute" type="text" class="validate" value="北京科技大学">
                          <label for="institute" data-error="wrong">学校</label>
                      </div>
                      <div class="input-field col s12">
                        <select id="degree">
                          <option value="1" selected="selected">本科</option>
                          <option value="2">研究生</option>
                          <option value="3">博士</option>
                          <option value="4">博士后</option>
                        </select>
                        <label>学历</label>
                      </div>
                      <div class="input-field col s12">
                          <input id="institute" type="text" class="validate" value="计算机科学与技术">
                          <label for="institute" data-error="wrong">专业</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="start_date" type="text" class="validate" value="2012.9">
                          <label for="start_date" data-error="wrong">入学日期</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="end_date" type="text" class="validate" value="2016.6">
                          <label for="end_date" data-error="wrong">毕业日期</label>
                      </div>
                  </div>
              </form>
            </div>
          </div>  
        </div>
        <div class="modal-footer">
            <a href="#edu" class=" modal-action modal-close waves-effect waves-light btn">修改</a>
            <a href="#edu" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
        </div>
    </div>

    <!-- 新增工作经历 遮罩层 -->
    <div id="modal-work_add" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="container">
            <h5 style="color: #7f7f7f;font-weight: 300;">新增工作经历</h5>
            <div class="row">
              <form class="col s12" id="work_add-form">
                  <div class="row center">
                      <div class="input-field col s12">
                          <input id="company" type="text" class="validate">
                          <label for="company" data-error="wrong">公司</label>
                      </div>
                      <div class="input-field col s12">
                          <input id="postion" type="text" class="validate">
                          <label for="position" data-error="wrong">职位</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="start_date" type="date" class="datepicker">
                          <label for="start_date" data-error="wrong">入职日期</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="end_date" type="date" class="datepicker">
                          <label for="end_date" data-error="wrong">离职日期</label>
                      </div>
                      <div class="input-field col s12">
                          <textarea id="desc" class="materialize-textarea"></textarea>
                          <label for="desc" data-error="wrong">主要工作</label>
                      </div>
                  </div>
              </form>
            </div>
          </div>  
        </div>
        <div class="modal-footer">
            <a href="#work" class=" modal-action modal-close waves-effect waves-light btn">新增</a>
            <a href="#work" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
        </div>
    </div>


    <!-- 新增项目经历 遮罩层 -->
    <div id="modal-proj_add" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="container">
            <h5 style="color: #7f7f7f;font-weight: 300;">新增项目经历</h5>
            <div class="row">
              <form class="col s12" id="proj_add-form">
                  <div class="row center">
                      <div class="input-field col s12">
                          <input id="project_name" type="text" class="validate">
                          <label for="project_name" data-error="wrong">项目名称</label>
                      </div>
                      <div class="input-field col s12">
                          <textarea id="project_desc" class="materialize-textarea"></textarea>
                          <label for="project_desc" data-error="wrong">项目介绍</label>
                      </div>
                  </div>
              </form>
            </div>
          </div>  
        </div>
        <div class="modal-footer">
            <a href="#proj" class=" modal-action modal-close waves-effect waves-light btn">新增</a>
            <a href="#proj" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
        </div>
    </div>

    <!-- 新增教育经历 遮罩层 -->
    <div id="modal-edu_add" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="container">
            <h5 style="color: #7f7f7f;font-weight: 300;">新增教育经历</h5>
            <div class="row">
              <form class="col s12" id="edu_add-form">
                  <div class="row center">
                      <div class="input-field col s12">
                          <input id="institute" type="text" class="validate">
                          <label for="institute" data-error="wrong">学校</label>
                      </div>
                      <div class="input-field col s12">
                        <select>
                          <option value="1" selected="selected">本科</option>
                          <option value="2">研究生</option>
                          <option value="3">博士</option>
                          <option value="4">博士后</option>
                        </select>
                        <label>学历</label>
                      </div>
                      <div class="input-field col s12">
                          <input id="institute" type="text" class="validate">
                          <label for="institute" data-error="wrong">专业</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="start_date" type="text" class="datepicker" placeholder="如：2012.9">
                          <label for="start_date" data-error="wrong">入学日期</label>
                      </div>
                      <div class="input-field col s6">
                          <input id="end_date" type="text" class="datepicker" placeholder="如：2016.6">
                          <label for="end_date" data-error="wrong">毕业日期</label>
                      </div>
                  </div>
              </form>
            </div>
          </div>  
        </div>
        <div class="modal-footer">
            <a href="#edu" class=" modal-action modal-close waves-effect waves-light btn">新增</a>
            <a href="#edu" class=" modal-action modal-close waves-effect btn btn-flat black-text">取消</a>
        </div>
    </div>

  </div>

  <footer class="page-footer teal accent-4" style="padding-top: 0;">
    <div class="footer-copyright">
      <div class="container">
      Made by 
      <a class="orange-text text-lighten-3" href="http://chengkang.pw">CHENGKANG</a>
      、
      <a class="orange-text text-lighten-3" href="http://MrLiao.cn">Mr.Liao</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript">
        $(function () {

          $('.modal-trigger').leanModal();
          $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
          });
          $('select').material_select();

          var jcrop_api,
              boundx,
              boundy,
              xsize = 200,
              ysize = 200;

          $("#crop-picture").Jcrop({
            aspectRatio: xsize / ysize,
            onSelect: updateCoords,
            setSelect: [0, 0, 200, 200]
          },function(){
            var bounds = this.getBounds();
            boundx = bounds[0];
            boundy = bounds[1];
            jcrop_api = this;
          });

          function updateCoords(c) {
            $("#x").val(c.x);
            $("#y").val(c.y);
            $("#w").val(c.w);
            $("#h").val(c.h);
          };

          $("#btn-upload-picture").click(function () {
            $("#picture-upload-form input[name='picture']").click();
          });

          $("#picture-upload-form input[name='picture']").change(function () {
            $("#picture-upload-form").submit();
          });

        {% if uploaded_picture %}
          $("#modal-upload-picture").modal();
          window.history.pushState("", "", "/me/picture/");
        {% endif %}

        });

      {% if messages %}
        {% for message in messages %}
            Materialize.toast('{{ message }}', 2000);
        {% endfor %}
      {% endif %}
  </script>

  </body>
</html>
